<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>College</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>LoginUser.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginManager</display-name>
    <servlet-name>LoginManager</servlet-name>
    <servlet-class>myPackageServlet.LoginManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginManager</servlet-name>
    <url-pattern>/LoginManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiverUser</display-name>
    <servlet-name>ReceiverUser</servlet-name>
    <servlet-class>myPackageServlet.ReceiverUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiverUser</servlet-name>
    <url-pattern>/ReceiverUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dfd</display-name>
    <servlet-name>dfd</servlet-name>
    <servlet-class>df.dfd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dfd</servlet-name>
    <url-pattern>/dfd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>myPackageServlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Utilities</display-name>
    <servlet-name>Utilities</servlet-name>
    <servlet-class>myPackageUtil.Utilities</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Utilities</servlet-name>
    <url-pattern>/Utilities</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>myPackageTest.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Users</display-name>
    <servlet-name>Users</servlet-name>
    <servlet-class>myPackageUsers.Users</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Users</servlet-name>
    <url-pattern>/Users</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>myPackageAction.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>myPackageAction.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportServlet</display-name>
    <servlet-name>ExportServlet</servlet-name>
    <servlet-class>myPackageAction.ExportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportServlet</servlet-name>
    <url-pattern>/ExportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportIndividual</display-name>
    <servlet-name>ExportIndividual</servlet-name>
    <servlet-class>myPackageServlet.ExportIndividual</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportIndividual</servlet-name>
    <url-pattern>/ExportIndividual</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>myPackageMain.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>myPackageMain.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>myPackageAction.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyDB</display-name>
    <servlet-name>MyDB</servlet-name>
    <servlet-class>myPackageDb.MyDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyDB</servlet-name>
    <url-pattern>/MyDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginManagerv2</display-name>
    <servlet-name>LoginManagerv2</servlet-name>
    <servlet-class>myPackageServlet.LoginManagerv2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginManagerv2</servlet-name>
    <url-pattern>/LoginManagerv2</url-pattern>
  </servlet-mapping>
</web-app>